/* Contenedor principal del header. Uso Flexbox para alinear los elementos (lupa, logo, usuario) en una sola fila horizontal */
.inicio-cabecilla {
    width: 100%;
    min-height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 12px 35px;

    background-color: #f5f0e6;
    border-bottom: 1px solid #ded6ca;
}

/* Contenedor específico del logo */
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 180px;
}

/* La imagen del logo por dentro de su contenedor */
.logo img {
    display: block;
    width: 100%;
    height: auto;
}

/* Contenedores para los iconos de los extremos (usuario y búsqueda) */
/* Iconos */
.icono-buscar,
.icono-usuario {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icono-buscar img,
.icono-usuario img {
    width: 28px;
    height: 28px;
    object-fit: contain;

    mix-blend-mode: multiply;
}

.icono-buscar img,
.icono-usuario img {
    transition: transform 0.2s ease;
}

.icono-buscar img:hover,
.icono-usuario img:hover {
    transform: scale(1.1);
}