nav {
    display: flex;
    align-items: center;      
    justify-content: center;  
    position: relative;       
    background-color: #e6e1d8;
    padding: 15px 30px;       
}

#btn-abrir-menu {
    position: absolute;
    object-fit: cover;
    left: 30px;       
    width: 35px;

    cursor: pointer;
    transition: all 0.3s ease;
}

#btn-abrir-menu img {
    width: 100%;              
    display: block;  
    transition: transform 0.2s ease-in-out;  
    mix-blend-mode: multiply;       
}

#btn-abrir-menu img:hover {
    transform: scale(1.1); 
}

.sub-nav {
    font-size: 1.1rem;        
    color: #1b2a38;
    margin: 0;               
}